h1 {
    background-color: red;
}

body {
    background-color: blanchedalmond;
}

.home {
    color: brown;
}

.home2 {
    color: brown;
}

.lorem {
    color: brown;
}

.lorem2 {
    color: brown;
}